[Desktop Entry]
Version=1.0
Type=Application
Name=Sofamote
Exec=/usr/bin/sofamote
Icon=sofamote
Categories=Utility;
StartupNotify=false
Comment=Phone remote for laptop media
